<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center titulo">Registrar Usuario</h3>
                </div>
                <form>
                    <div class="mb-3">
                        <input type="text" class="form-control form-control" placeholder="Correo">
                    </div>
                  <div class="mb-3">
                    <input type="text" class="form-control form-control" placeholder="Contraseña">
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control form-control" placeholder="Repetir Contraseña">
                  </div>
                  <button routerLink="/usuario" class="btn btn-secondary btn-lg">Volver</button>
                  <button class="btn btn-primary btn-lg float-end">Aceptar</button>
                </form>
            </div>
        </div>
    </div>
</div>